.console {
    background-color: #202124;
    width:100%;
    min-height: 180px;
    height:100%;
    overflow-y:scroll;
    font-size: 17px;
}

.consoleNoDev {
    background-color: #202124;
    width:100%;
    min-height: 130px;
    max-height: 130px;
    height:100%;
    overflow-y:scroll;
    font-size: 17px;
}

.console::-webkit-scrollbar, .consoleNoDev::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.console, .consoleNoDev {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.console_img {
    max-width: 100%;
}

.arrowRight {
    width: 8px;
    margin-right:5px;
}

.arrowBottom {
    width: 12px;
    margin-right:5px;
}

.marginTop {
    margin-top:10px;
  }