
.sectionDataRight, .sectionDataRightDev {
    z-index: 1;
    background-color: #23272e;
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Consolas';
    font-size: 18px;
    overflow-y:scroll;
}

.secionDataRight_workSection {
    overflow-y:scroll;
    min-height: 60%;
}

.secionDataRight_workSectionNoDev {
    overflow-y:scroll;
    min-height: 68%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.sectionDataRight::-webkit-scrollbar, .sectionDataRightDev::-webkit-scrollbar, .secionDataRight_workSection::-webkit-scrollbar, .secionDataRight_workSectionNoDev::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.sectionDataRight, .sectionDataRightDev, .secionDataRight_workSection, .secionDataRight_workSectionNoDev {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.margin10px{
    margin: 0;
    margin-bottom: 1px;
    margin-left: 10px;
}

.margin20px{
    margin:0;
    margin-bottom: 1px;
    margin-left: 20px;
}

.margin30px{
    margin:0;
    margin-bottom: 1px;
    margin-left: 30px;
}

.margin40px{
    margin:0;
    margin-bottom: 1px;
    margin-left: 40px;
}

@media (max-width: 1099px) { 
    .sectionDataRight, .sectionDataRightDev {
        width: 100%;
        min-height:1000px;
    }
    .secionDataRight_workSection {
        min-height: 750px;
    }
    .sectionDataRight .bgWhite {
        margin-top:-50px;
    }
    div {
        font-size: 14px;
    }
}


@media (max-width: 500px) { 
    .sectionDataRightDev {
        min-height:980px;
    }
    .sectionDataRightDev .secionDataRight_workSection {
        min-height: 620px;
        max-height: 620px;
    }

    .sectionDataRight {
        min-height:890px;
    }

    .clicHide {
        display:none;
    }
}

@media (max-height: 900px)  and (orientation: landscape){ 
    .sectionDataRightDev {
        min-height:890px;
        overflow: hidden;
    }
    .sectionDataRightDev .secionDataRight_workSection {
        min-height: 620px;
        max-height: 620px;
    }
    .sectionDataRight {
        width:100%;
        min-height:830px;
        overflow: hidden;
    }
}